<div class="dashboard-full">
  <h1>Welcome to the Dashboard</h1>
  <h2>Hello, {{username}}!</h2>

  <h3>Your Performance Reviews:</h3>
  <ul>
    {{#each performanceReviews}}
    <li>
      <!-- Add a delete button for each performance review -->
      <h4>Faculty Name: {{FacultyName}}</h4>
      <p>Medical Knowledge Rating: {{MedicalKnowledgeRating}}</p>
      <p>Clinical Judgment Rating: {{ClinicalJudgmentRating}}</p>
      <p>Teaching Skills Rating: {{TeachingSkillsRating}}</p>
      <p>Humanistic Qualities Rating: {{HumanisticQualitiesRating}}</p>
      <p>Overall Experience Rating: {{OverallExperienceRating}}</p>
      <p>Overall Experience Comments: {{OverallExperienceComments}}</p>
      <form action="/delete-review" method="POST">
        <input type="hidden" name="reviewId" value="{{PerformanceReviewId}}">
        <button type="submit">Delete Review</button>
      </form>
    </li>
    {{/each}}
  </ul>
</div>
